<app-page-header>Smart AC Admin Panel - Dashboard</app-page-header>

<mat-card>
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <button mat-raised-button color="primary" (click)="goToDevices()">
            Device Administration
          </button>
        </div>

        <div class="col-3">
          <button mat-raised-button color="primary" (click)="goToEmployees()">
            Employee Administration
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
