<app-page-header>Device Alert Details</app-page-header>

<app-page-previous></app-page-previous>

<app-loading-bar [isLoading]="query.dataLoading$ | async"></app-loading-bar>

<div
  class="device-details-to-resolve"
  *ngIf="query.currentDeviceDetails$ | async as deviceDetails"
>
  <mat-card>
    <div class="container">
      <div class="device-detail">
        <b>Serial Number: </b> {{ deviceDetails?.serialNumber || "" }}
      </div>

      <div class="device-detail">
        <b>Air Humidity Percent: </b>
        {{ deviceDetails?.airHumidityPercent || "" }}%
      </div>

      <div class="device-detail">
        <b>Carbon Monoxide Level: </b>
        {{ deviceDetails?.carbonMonoxideLevel || "" }} PPM
      </div>

      <div class="device-detail">
        <b>Temperature (C&deg;): </b>
        {{ deviceDetails ? deviceDetails.temperature : "" }}
      </div>

      <div class="device-detail-resolve">
        <app-loading-button
          color="primary"
          (buttonClick)="resolve()"
          [disabled]="deviceDetails?.resolvedDate"
          [isLoading]="loading"
        >
          Resolve Issue
        </app-loading-button>
      </div>
    </div>
  </mat-card>
</div>
