@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1270px
);

$app-success-color: #28a745 !default;
$app-info-color: #17a2b8 !default;
$app-warn-color: #fd7e14 !default;
$app-error-color: #dc3545 !default;

$app-mat-primary-color: #673ab7;

$app-sm: "(min-width: 576px)";
$app-md: "(min-width: 768px)";
$app-lg: "(min-width: 992px)";
$app-xl: "(min-width: 1260px)";

$app-sm-down: "(max-width: 576px)";
$app-md-down: "(max-width: 768px)";
$app-lg-down: "(max-width: 992px)";
$app-xl-down: "(max-width: 1260px)";
